/* Breakpoints */
/* Styles cascade from desktop in both directions — smaller breakpoints cascade down (tablet > mobile landscape > mobile portrait) and larger breakpoints cascade up (1280px > 1440px > 1920px) */
$breakpoint-xl: 1920px;
$breakpoint-lg: 1440px;
$breakpoint-md: 1280px;
$breakpoint-sm: 992px;
$breakpoint-xs: 767px;
$breakpoint-xxs: 479px;