@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Mixins */
@mixin hover {
    &:hover {
        @content;
    }
}

@mixin active {
    &:active {
        @content;
    }
}

@mixin button-base {
	border-radius: var(--border-radius-base) !important;

    display: flex;
    min-width: 0;
    gap: var(--space-xxs);
    align-items: center;

    padding: var(--space-xxs) var(--space-xs);

    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-medium);

    cursor: pointer;

    transition: var(--transition-hover--slow);
}

@mixin button-variant($bg, $hover, $active, $text) {
	background: $bg;
	color: $text;
	border: var(--border-interactive);

	@include hover {
    	background: $hover;
    	color: var(--color-inverted);
    	border: var(--border-interactive--hover);
  	}

  	@include active {
    	background: $active;
    	border: var(--border-interactive--active);
  	}
}

@mixin focus-ring {
    &:focus-visible {
        outline: 2px solid var(--color-progressive);
        outline-offset: 2px;
        border-radius: var(--border-radius-base);
    }
}

@mixin button-text-on-hover {
    overflow: hidden;
    gap: 0;
    padding: var(--space-xxs);

    .footer__subtitle-socials--text {
        max-width: 0;
        opacity: 0;
        white-space: nowrap;
        transition: max-width var(--transition-hover--slow), opacity var(--transition-hover--slow);
    }

    @include hover {
        gap: var(--space-xxs);
        padding: var(--space-xxs) var(--space-xs);

        .footer__subtitle-socials--text {
            opacity: 1;
            max-width: var(--social-label-width, 10ch);;
        }
    }
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {
	:root {
		--transition-duration-base: 0ms;
		--transition-duration-medium: 0ms;
		--transition-duration-large: 0ms;
	}
	*,
    *::before,
    *::after {
		animation: none !important;
		transition: none !important;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

    body::before {
        animation: none;
    }
}

/* Background animation */
@keyframes heroBackground {
	0%, 16.6% { background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/backgrounds/summer_day4/1.png"); }
  	16.7%, 33.2% { background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/backgrounds/summer_day4/2.png"); }
	33.3%, 49.9% { background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/backgrounds/summer_day4/3.png"); }
	50%, 66.5% { background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/backgrounds/summer_day4/4.png"); }
	66.6%, 83.2% { background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/backgrounds/summer_day4/5.png"); }
	83.3%, 100% { background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/backgrounds/summer_day4/6.png"); }
}

/* SCSS variables */
$font-weight-base: 400;
$font-size-base: 1rem;
$space-unit: 1rem;
$border-radius-base: 4px;

$transition-hover--slow: var(--transition-duration-large) var(--transition-timing-function-ease);
$transition-hover--fast: var(--transition-duration-medium) var(--transition-timing-function-ease);
$transition-menu: var(--transition-duration-medium) var(--transition-timing-function-ease-out);

/* Breakpoints */
/* Styles cascade from desktop in both directions — smaller breakpoints cascade down (tablet > mobile landscape > mobile portrait) and larger breakpoints cascade up (1280px > 1440px > 1920px) */
$breakpoint-xl: 1920px;
$breakpoint-lg: 1440px;
$breakpoint-md: 1280px;
$breakpoint-sm: 992px;
$breakpoint-xs: 767px;
$breakpoint-xxs: 479px;

:root {
    /* My theme site is largely based on the MediaWiki skin "Citizen", hence why a lot of the variables are from that skin. */

    /* Fonts */
    --font-family-primary: 'Figtree', sans-serif;

    /* Font weights */
    --font-weight-base: #{$font-weight-base};
    --font-weight-light: calc(var(--font-weight-base) - 100);
    --font-weight-regular: var(--font-weight-base);
    --font-weight-medium: calc(var(--font-weight-base) + 100);
    --font-weight-semi-bold: calc(var(--font-weight-base) + 200);
    --font-weight-bold: calc(var(--font-weight-base) + 300);
    --font-weight-extra-bold: calc(var(--font-weight-base) + 400);
    --font-weight-black: calc(var(--font-weight-base) + 500);

    /* Font sizes */
    --font-size-base: #{$font-size-base};
    --font-size-x-small: calc(0.75 * var( --font-size-base ));
    --font-size-small: calc(0.875 * var( --font-size-base ));
    --font-size-medium: var( --font-size-base );
    --font-size-large: calc(1.125 * var( --font-size-base ));
    --font-size-x-large: calc(1.25 * var( --font-size-base ));
    --font-size-xx-large: calc(1.5 * var( --font-size-base ));
    --font-size-xxx-large: calc(1.75 * var( --font-size-base ));
    --font-size-4x-large: calc(2 * var( --font-size-base ));
    --font-size-5x-large: calc(2.5 * var( --font-size-base ));
    --font-size-6x-large: calc(3 * var( --font-size-base ));

    /* Line heights */
    --line-height-xx-small: 1.125rem;
    --line-height-x-small: 1.25rem;
	--line-height-small: 1.375rem;
	--line-height-medium: 1.625rem;
	--line-height-large: 1.75rem;
	--line-height-x-large: 1.875rem;
	--line-height-xx-large: 2.125rem;
	--line-height-xxx-large: 2.375rem;

    /* Spacings */
    --space-unit: #{$space-unit};
	--space-xxs: calc( 0.25 * var( --space-unit ) );
	--space-xs: calc( 0.5 * var( --space-unit ) );
	--space-sm: calc( 0.75 * var( --space-unit ) );
	--space-md: var( --space-unit );
	--space-lg: calc( 1.25 * var( --space-unit ) );
	--space-xl: calc( 1.5 * var( --space-unit ) );
	--space-xxl: calc( 2 * var( --space-unit ) );

    /* Border / Border radius */
    --border-width-base: 1px;
	--border-width-thick: 2px;

    --border-style-solid: solid;
    --border-style-dashed: dashed;
    --border-style-inset: inset;

    --border-color-progressive: var( --color-progressive );
	--border-color-progressive--hover: var( --color-progressive--hover );
	--border-color-progressive--active: var( --color-progressive--active );
    --border-color-base: rgb( 255 255 255 / 0.1 );
	--border-color-subtle: rgb( 255 255 255 / 0.05 );
	--border-color-muted: rgb( 255 255 255 / 0.03 );
	--border-color-interactive: rgb( 255 255 255 / 0.1 );
    --border-color-interactive--hover: rgb(255 255 255 / 0.2);
    --border-color-interactive--active: rgb(255 255 255 / 0.3);
	--border-color-disabled: rgb( 255 255 255 / 0.025 );
	--border-color-inverted: #fff;

    --border-base: var( --border-width-base ) var( --border-style-solid ) var( --border-color-base );
	--border-subtle: var( --border-width-base ) var( --border-style-solid ) var( --border-color-subtle );
    --border-muted: var( --border-width-base ) var( --border-style-solid ) var( --border-color-muted );
    --border-interactive: var( --border-width-base ) var( --border-style-solid ) var( --border-color-interactive );
    --border-interactive--hover: var( --border-width-base ) var( --border-style-solid ) var( --border-color-interactive--hover );
    --border-interactive--active: var( --border-width-base ) var( --border-style-solid ) var( --border-color-interactive--active );
    --border-disabled: var( --border-width-base ) var( --border-style-solid ) var( --border-color-disabled );
    --border-inverted: var( --border-width-base ) var( --border-style-solid ) var( --border-color-inverted );
    --border-progressive: var( --border-width-base ) var( --border-style-solid ) var( --border-color-progressive );
    --border-progressive--hover: var( --border-width-base ) var( --border-style-solid ) var( --border-color-progressive--hover );
    --border-progressive--active: var( --border-width-base ) var( --border-style-solid ) var( --border-color-progressive--active );

    --border-radius-base: #{$border-radius-base};
    --border-radius-medium: calc( 2 * var( --border-radius-base ) );
    --border-radius-large: calc( 3 * var( --border-radius-base ) );
    --border-radius-x-large: calc( 4 * var( --border-radius-base ) );
    --border-radius-pill: 9999px;
    --border-radius-circle: 50%;

    /* Colors */
    /* Hover and active states are calculated by a modifier of the lightness value (e.g. hover: +2%, active: -2%) */
	--delta-lightness-state-base: 4%;
	--delta-lightness-hover-state: calc( var( --delta-lightness-state-base ) * 1 );
	--delta-lightness-active-state: calc( var( --delta-lightness-state-base ) * -1 );
	--delta-lightness-surface-base: 2%;

	/* Progressive color */
	--color-progressive-oklch__l: 60%;
	--color-progressive-oklch__c: 0.1679;
	--color-progressive-oklch__h: 262.29;

	/* Surface color */
	--color-surface-0-oklch__l: 14%;
	--color-surface-0-oklch__c: 0.01;
	--color-surface-1-oklch__l: calc( var( --color-surface-0-oklch__l ) + var( --delta-lightness-surface-base ) );
	--color-surface-1-oklch__c: 0.015;
	--color-surface-2-oklch__l: calc( var( --color-surface-0-oklch__l ) + ( var( --delta-lightness-surface-base ) * 2 ) );
	--color-surface-2-oklch__c: 0.02;
	--color-surface-3-oklch__l: calc( var( --color-surface-0-oklch__l ) + ( var( --delta-lightness-surface-base ) * 3 ) );
	--color-surface-3-oklch__c: 0.03;
	--color-surface-4-oklch__l: calc( var( --color-surface-0-oklch__l ) + ( var( --delta-lightness-surface-base ) * 4 ) );
	--color-surface-4-oklch__c: 0.04;

	--color-surface-0: oklch( var( --color-surface-0-oklch__l ) var( --color-surface-0-oklch__c ) var( --color-progressive-oklch__h ) );
	--color-surface-1: oklch( var( --color-surface-1-oklch__l ) var( --color-surface-1-oklch__c ) var( --color-progressive-oklch__h ) );
	--color-surface-1--hover: oklch( calc( var( --color-surface-1-oklch__l ) + var( --delta-lightness-hover-state ) ) var( --color-surface-1-oklch__c ) var( --color-progressive-oklch__h ) );
	--color-surface-1--active: oklch( calc( var( --color-surface-1-oklch__l ) + var( --delta-lightness-active-state ) ) var( --color-surface-1-oklch__c ) var( --color-progressive-oklch__h ) );
	--color-surface-2: oklch( var( --color-surface-2-oklch__l ) var( --color-surface-2-oklch__c ) var( --color-progressive-oklch__h ) );
	--color-surface-2--hover: oklch( calc( var( --color-surface-2-oklch__l ) + var( --delta-lightness-hover-state ) ) var( --color-surface-2-oklch__c ) var( --color-progressive-oklch__h ) );
	--color-surface-2--active: oklch( calc( var( --color-surface-2-oklch__l ) + var( --delta-lightness-active-state ) ) var( --color-surface-2-oklch__c ) var( --color-progressive-oklch__h ) );
	--color-surface-3: oklch( var( --color-surface-3-oklch__l ) var( --color-surface-3-oklch__c ) var( --color-progressive-oklch__h ) );
	--color-surface-4: oklch( var( --color-surface-4-oklch__l ) var( --color-surface-4-oklch__c ) var( --color-progressive-oklch__h ) );

    --background-color-progressive: var( --color-progressive );
	--background-color-progressive--hover: var( --color-progressive--hover );
	--background-color-progressive--active: var( --color-progressive--active );

    /* Text color */
    --color-emphasized-oklch__l: 93%;
	--color-emphasized-oklch__c: 0.03;
	--color-base-oklch__l: 80%;
	--color-base-oklch__c: 0.05;
	--color-subtle-oklch__l: 70%;
	--color-subtle-oklch__c: 0.07;
	--color-placeholder-oklch__l: 60%;
	--color-placeholder-oklch__c: 0.03;
	--color-disabled-oklch__l: 50%;
	--color-disabled-oklch__c: 0.01;

    --color-progressive: oklch( var( --color-progressive-oklch__l ) var( --color-progressive-oklch__c ) var( --color-progressive-oklch__h ) );
	--color-progressive--hover: oklch( calc( var( --color-progressive-oklch__l ) + var( --delta-lightness-hover-state ) ) var( --color-progressive-oklch__c ) var( --color-progressive-oklch__h ) );
	--color-progressive--active: oklch( calc( var( --color-progressive-oklch__l ) + var( --delta-lightness-active-state ) ) var( --color-progressive-oklch__c ) var( --color-progressive-oklch__h ) );

    --color-base: oklch( var( --color-base-oklch__l ) var( --color-base-oklch__c ) var( --color-progressive-oklch__h ) );
    --color-base--hover: oklch( calc( var( --color-base-oklch__l ) + var( --delta-lightness-hover-state ) ) var( --color-base-oklch__c ) var( --color-progressive-oklch__h ) );
	--color-emphasized: oklch( var( --color-emphasized-oklch__l ) var( --color-emphasized-oklch__c ) var( --color-progressive-oklch__h ) );
	--color-subtle: oklch( var( --color-subtle-oklch__l ) var( --color-subtle-oklch__c ) var( --color-progressive-oklch__h ) );
	--color-placeholder: oklch( var( --color-placeholder-oklch__l ) var( --color-placeholder-oklch__c ) var( --color-progressive-oklch__h ) );
	--color-disabled: oklch( var( --color-disabled-oklch__l ) var( --color-disabled-oklch__c ) var( --color-progressive-oklch__h ) );
    --color-inverted: #fff;

    --color-link: var( --color-progressive );
	--color-link--hover: var( --color-progressive--hover );
	--color-link--active: var( --color-progressive--active );

    /* Box shadows */
    --shadow-opacity: 0.44;

    --box-shadow-color-alpha-base: oklch( 6% 0.01 var( --color-progressive-oklch__h ) / var( --shadow-opacity ) );

    --box-shadow-border: var( --border-color-base ) 0 0 0 1px;
    --box-shadow-small: 0 0 0 1px var( --border-color-base );
	--box-shadow-medium: 0 0.5px 0.6px var( --box-shadow-color-alpha-base ), 0 1.6px 1.8px -0.8px var( --box-shadow-color-alpha-base ), 0 4px 4.5px -1.7px var( --box-shadow-color-alpha-base ), 0 9.8px 11px -2.5px var( --box-shadow-color-alpha-base );
	--box-shadow-large: 0 0.5px 0.6px var( --box-shadow-color-alpha-base ), 0 2.8px 3.1px -0.4px var( --box-shadow-color-alpha-base ), 0 5.3px 6px -0.7px var( --box-shadow-color-alpha-base ), 0 8.7px 9.8px -1.1px var( --box-shadow-color-alpha-base ), 0 13.9px 15.6px -1.4px var( --box-shadow-color-alpha-base ), 0 21.8px 24.5px -1.8px var( --box-shadow-color-alpha-base );

    /* Backdrop */
    --backdrop-filter-blur: blur( 2px );
	--backdrop-filter-frosted-glass: blur( 8px ) saturate( 140% );
    --backdrop-opacity: 0.65;

    /* Transitions */
    --transition-timing-function-ease: cubic-bezier( 0.2, 0, 0, 1 );
	--transition-timing-function-ease-in: cubic-bezier( 0.3, 0, 0.8, 0.15 );
	--transition-timing-function-ease-out: cubic-bezier( 0.05, 0.7, 0.1, 1 );

	--transition-duration-base: 100ms;
	--transition-duration-medium: 250ms;
	--transition-duration-large: 350ms;

	--transition-hover--slow: #{$transition-hover--slow};
    --transition-hover--fast: #{$transition-hover--fast};
	--transition-menu: #{$transition-menu};

	/* Random variables */
	--header-height: 40vh;
	--social-label-width: 10ch;

	/* Color scheme */
	color-scheme: dark;
}

/* Default styles */
html {
    direction: ltr;

    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);

    color: var(--color-base);

    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    background: var(--color-surface-0);

    overflow-x: hidden;
    position: relative;
	isolation: isolate;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40vh;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
		background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/backgrounds/summer_day4/1.png");
		animation: heroBackground 12s cubic-bezier(0.075, 0.82, 0.165, 1) ease-in-out infinite;
		transition: opacity var(--transition-hover--fast);
        filter: var(--backdrop-filter-blur);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
        z-index: -1;

        will-change: background-image;

		@media (prefers-reduced-motion: reduce) {
			animation: none;
			background-image: url('../images/backgrounds/summer_day4/4.png');
		}
    }

    display: grid;
    grid-template-rows: auto 1fr auto;
}

b, strong {
    font-weight: var(--font-weight-semi-bold);
}

blockquote {
    font-style: italic;
    text-wrap: pretty;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
}

h1, h2, h3, h4, h5, h6 {
    margin-block-end: 0.25em;
    color: var(--color-emphasized);

    a {
        text-decoration: none !important;
        color: var(--color-emphasized) !important;
        display: block;
    }
}

h1, h2 {
    margin-block-start: 2em;
}

h3, h4 {
    margin-block-start: 1.5em;
}

h5, h6 {
    margin-block-start: 1.25em;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-semi-bold);
}

h1 {
    font-size: var(--font-size-xxx-large);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-xxx-large);
}

h2 {
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-xx-large);
}

h3 {
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-x-large);
}

h4 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-large);
}

hr {
    margin-block: var(--space-md);
    border: 0;
    border-top: var(--border-base);
}

p {
    margin-block: var(--space-md);
    overflow-wrap: break-word;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border: var(--border-subtle);
    border-radius: var(--border-radius-base);
}

a {
    color: var(--color-link);
	
	@include focus-ring;

	&:focus-visible {
        text-decoration: underline;
    }
}

button {
	@include button-base;
	@include focus-ring;

    &.primary {
		@include button-variant (
			var(--background-color-progressive),
      		var(--background-color-progressive--hover),
      		var(--background-color-progressive--active),
      		var(--color-inverted)
		)
    }

    &.secondary-1 {
        border: var(--border-progressive) !important;

		@include button-variant (
			transparent,
      		transparent,
      		transparent,
      		var(--color-progressive)
		)

        @include hover {
            color: var(--color-progressive--hover) !important;
            border: var(--border-progressive--hover) !important;
        }

        @include active {
            color: var(--color-progressive--active) !important;
            border: var(--border-progressive--active) !important;
        }
    }

    &.secondary-2 {
		@include button-variant (
			var(--color-surface-2),
      		var(--color-surface-2--hover),
      		var(--color-surface-2--active),
      		var(--color-emphasized)
		)

        @include hover {
            border: var(--border-interactive--hover) !important;
            color: var(--color-inverted) !important;
        }

        @include active {
            border: var(--border-interactive--active) !important;
        }
    }

    img {
        border: none;
        border-radius: 0;

        width: 20px;
        height: auto;
        filter: drop-shadow(0px 1000px 0 oklch(93% 0.03 262.29));
        transform: translateY(-1000px);
    }

	&.social {
		@include button-text-on-hover;
	}

	&.x {
		@include button-variant (
			oklch(0% 0 0),
      		oklch(calc(0% + var(--delta-lightness-hover-state)) 0 0),
      		oklch(0% 0 0),
      		var(--color-emphasized)
		)
	}

	&.discord {
	    @include button-variant(
		  	oklch(57.74% 0.2091 273.85),
		  	oklch(calc(57.74% + var(--delta-lightness-hover-state)) 0.2091 273.85),
		  	oklch(calc(57.74% + var(--delta-lightness-active-state)) 0.2091 273.85),
		  	var(--color-emphasized)
	    )
	}

    &.github {
		@include button-variant(
		  	oklch(70.1% 0.2127 145.72),
		  	oklch(calc(70.1% + var(--delta-lightness-hover-state)) 0.2127 145.72),
		  	oklch(calc(70.1% + var(--delta-lightness-active-state)) 0.2127 145.72),
		  	var(--color-emphasized)
	    )
    }
}

* {
    box-sizing: border-box; 
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* MAIN PAGE */
@keyframes heroFadeIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
        filter: blur(20px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
        filter: none;
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    position: relative;

    min-height: calc(var(--header-height) - var(--space-xl) * 4 - var(--space-xs) * 3);
    margin: var(--space-lg);
    padding: var(--space-xl) var(--space-md);

    text-align: center;

    animation: heroFadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

    @media (prefers-reduced-motion: reduce) {
        animation: none;
    }

    h1 {
		margin: auto;
        margin-block: 0;
        line-height: initial;
        font-size: var(--font-size-6x-large);
		font-weight: var(--font-weight-bold);

        a {
            cursor: text;
        }
    }

    p {
        margin-block: 0;
        line-height: var(--line-height-small);
        font-weight: var(--font-weight-medium);

        &.sub {
            color: var(--color-placeholder);
            font-size: var(--font-size-small);
            line-height: var(--line-height-medium);
        }
    }

    hr {
        margin-block: var(--space-md);
        width: 3rem;
    }
}

footer {
    background: var(--color-surface-1);
    border-top: var(--border-base);

    width: 100%;
    height: max-content;

    padding: var(--space-xl);

    .footer__wordmark {
        font-size: var(--font-size-xx-large);
        font-weight: var(--font-weight-bold);
        color: var(--color-inverted);

        display: flex;
        min-width: 0;
        gap: var(--space-sm);
        align-items: center;

        @media screen and (max-width: $breakpoint-xs) {
            justify-content: center;
        }
        @media screen and (max-width: $breakpoint-xxs) {
            .divider, img {
                display: none; /* Experimental */
            }
        }

        .divider {
            color: var(--color-inverted);
            font-size: var(--font-size-small);
            line-height: 1;
            user-select: none;
            flex-shrink: 0;
        }

        img {
            border: none;
            border-radius: 0;

            width: 20px;
            height: auto;
        }
    }

    .footer__subtitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: $breakpoint-xs) {
            flex-direction: column;
            gap: var(--space-xxs);
        }

        .footer__subtitle-text {
            color: var(--color-placeholder);
        }

        .footer__subtitle-socials {
            display: flex;
            flex-direction: row;
			align-items: center;
            gap: var(--space-xxs);

            button {
                height: 30px;
                transition: var(--transition-hover--slow);
            }

			.divider {
                color: var(--color-placeholder);
                font-size: var(--font-size-small);
                line-height: 1;
                user-select: none;
                flex-shrink: 0;
            }
        }
    }
}
