body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* index.html */
.projects {
    .projects__wikis {
        display: flex;
        flex-direction: column;

        gap: var(--space-sm);

        .projects__header {
            display: flex;
            flex-direction: column;
            gap: 0;
            border-bottom: var(--border-base);
            padding-block: var(--space-sm);

            line-height: 1;

            h2 {
                margin-block: 0;
            }
            p {
                margin-block: 0;
            }

            &--hidden {
                opacity: 0;
                filter: blur(5px);
                transform: translateX(-100%);
                transition: all 750ms;
            }

            &--visible {
                opacity: 1;
                filter: blur(0);
                transform: translateX(0);
            }
        }

        .projects__cards {
            display: flex;
            flex-direction: row;

            gap: var(--space-sm);

            .projects__card {
                background-color: var(--color-surface-2);
                border: var(--border-base);
                border-radius: var(--border-radius-medium);

                padding: var(--space-sm);

                opacity: 1;
                transform: none;

                &--hidden {
                    opacity: 0;
                    filter: blur(5px);
                    transform: translateX(-100%);
                    transition: all 750ms;
                }

                &--visible {
                    opacity: 1;
                    filter: blur(0);
                    transform: translateX(0);
                }

                transition-delay: calc(var(--i, 1) * 50ms);
            }
        }
    }
}