body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* index.html */
.projects {
    .projects__wikis {
        padding-block: var(--space-xxs);
        
        .projects__header {
            display: flex;
            flex-direction: column;
            gap: 0;
            border-bottom: var(--border-base);

            h2 {
                margin-block: var(--space-xs);
            }
            p {
                margin-block: 0;
            }
        }
    }
}