/* Background animation */
@keyframes heroBackground {
	0% { background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/backgrounds/summer_day4/1.png"); }
    16.7% { background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/backgrounds/summer_day4/2.png"); }
	33.3% { background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/backgrounds/summer_day4/3.png"); }
	50% { background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/backgrounds/summer_day4/4.png"); }
	66.6% { background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/backgrounds/summer_day4/5.png"); }
	83.3% { background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/backgrounds/summer_day4/6.png"); }
    100% { background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/backgrounds/summer_day4/1.png"); }
}
@keyframes heroFadeIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
        filter: blur(20px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
        filter: none;
    }
}